body {
    background-color: aqua;
}

#first {
    background-color: lightblue;
}

#second {
    background-color: lightyellow;
}

h2 {
    font-size: 0.8em;
}

p {
    max-width: 500px;
}

@media only screen and (min-width: 500px) {
    h2 {
        font-size: 2em;
    }
    #first {
        background-color: rgb(133, 211, 236);
    }
    #second {
        background-color: rgb(248, 248, 159);
    }
}

@media only screen and (min-width: 700px) {
    h2 {
        font-size: 3em;
    }
    #first {
        background-color: rgb(73, 192, 231);
    }
    #second {
        background-color: rgb(243, 243, 89);
    }
}

@media only screen and (min-width: 900px) {
    h2 {
        font-size: 4em;
    }
    #first {
        background-color: rgb(11, 180, 236);
    }
    #second {
        background-color: rgb(241, 241, 19);
    }
}