body {
    background-color: aqua;
}

#first {
    background-color: lightblue;
}

#second {
    background-color: lightyellow;
}

h2 {
    font-size: 0.8em;
}

p {
    max-width: 600px;
}

@media only screen and (min-width: 500px) {
    h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 700px) {
    h2 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 900px) {
    h2 {
        font-size: 4em;
    }
}